<div class="flex bg-[#161616] h-[91vh] items-center">
    <!-- LEFT SECTION -->
    <div class="text-white mx-4 md:mx-12 lg:ml-16 xl:ml-24 text-left">

      
        <div class="items-start gap-2 hidden lg:flex">
           
        </div>
        
        <!-- Heading -->
        <h1 class="text-6xl font-bold mt-4 leading-tight">
            Push Limits, <br /> Embrace Strength, <br /> Repeat.
        </h1>

        <!-- Description -->
        <p class="text-lg mt-6 max-w-md opacity-80">
            Check out the workout plans and start your fitness journey today.
        </p>

        <!-- Explore Button -->
        <div class="mt-10">
            <a routerLink="/explore">
                <button class="bg-cyan-100 text-cyan-950 px-6 py-3 font-bold rounded-lg flex items-center gap-2 
                               transition-all duration-300 hover:bg-cyan-200 hover:scale-105">
                    <i class="pi pi-compass text-lg"></i>
                    Explore Workouts
                </button>
            </a>
        </div>
    </div>
</div>
